
#toMenu{
    font-size:  50px;
    color:#ffbb33 ;
    padding : 10px;
    background-color:#eaeded;
    border-radius:8px
}

.cart2-header{

    background-color: #ffbb33;
    width: 100%;
    text-align: center;
    color: white;
    font-style: italic;
    border-radius: 5px;
    
}

.table-fixed{

    margin-top: 50px;
    margin-bottom:30px;

}

.table-fixed thead th{  
  color: #dc3545;
  text-decoration:underline;

}


.rowTitle{
    text-align: center;
    font-weight: bold;
}

.NumericInput{
    width:70px;
}



