#titleCart{
    text-align:center;
    color:#ffbb33;
    
    
}



#toMenu{
    font-size:  0.6em;
    color:black
}


.table-fixed{
    max-height:350px;
    overflow: auto;
    padding-bottom: 15px;
    margin-bottom:30px;
    border: 1px solid lightgray;


}
table{
    border-collapse: collapse;
    width: 100%;

}
.table-fixed thead th{
  position: sticky;
  top:-1px;
  color: #dc3545;
  text-decoration:underline;
  background-color:#ffbb33 ;
  border-bottom: 3px solid #FF7729;
}


.inputTable{
    width: 9vw
}


.NumericInput{
    width:4vw
}

#cardTable{
    width: 100%;
    position: relative;
    bottom:0px;
}


tr  .rowTitle{
    background-color: red;

}


@media(max-width:767px){
    .NumericInput{
        width:10vw
    }
}