

.elFooter{
    list-style-type: none;
}

.elFooter a , .h3Footer ,p , .h4Footer , .spanFooter{
    color: white;
}


.h4Footer , .h3Footer{
    color: #ffbb33;
}

.spanFooter{
    padding-left: 16px;
}

.icon{
    fill: #ffbb33;
    font-size:1.2em;
    margin-bottom: 5px;    
}

.elFooter a:hover{
    color:white;
    text-decoration-line: none;
}


 footer{
    margin-right:auto;
    margin-left:auto;
    background-color: #dc3545;
    width:100%;
   

}

#scroll{
    position: relative;
    bottom: 0px;
    right:0px;
    font-size: 1.5em;
}

@media(max-width:767px){
    hr {
        border: 0;
        clear:both;
        display:block;
        width: 50%;               
        background-color:wheat;
        height: 1px;
  
      }



    .elFooter , .h3Footer ,p ,.h4Footer {
        text-align: center;
    }
  
 
   
}

@media (min-width: 768px) {  
   

    .elFooter , .h3Footer ,p ,.h4Footer {
        text-align: left;
        margin-left: 15px;
    }
    .h3Footer{
        margin-left: 50px;
        margin-top: 50px;
    }
    

    #logoFooter{
        margin-left: 5px;
        margin-bottom: 5px;
        
    }    

  
}


