
  
  
  .caption {
     background-color: #000000;
     opacity: 0.8;
     height:1.6em ;
    }
  
   #slider{
    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
   }
     

  .CarouselItem  img {   
    height:500px;

    }


    @media (max-width: 540px){
        #slider{
            width: 100%;
            margin-top: 10px;
           }
        .CarouselItem  img {   
            height:200px;
        
            }

        .caption {
            height: 7vw;
            font-size:5vw ;
            }

        #slider h1{
            font-size : 4vw;
            color: red; 
            position: absolute;
            
        }

        #participate{

            box-sizing: border-box;
            height:3.5vh ;
            font-size: 3vw;
            text-align: center;
            width:19vw;

        }
    }